@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.player {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    outline: none;
    background-color: #000;
    color-scheme: dark;
    font-size: 15px;
    color: #fff;
}
.player.fullscreen {
    font-size: 18px;
}
.media {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.video {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}

.cover {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.cover[poster] {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.loadersvg {
    display: block;
    width: 4em;
    height: 4em;
    margin: auto;
    animation: svg_rotate 3s ease 0s infinite;
}
@keyframes svg_rotate {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}


.logger {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #0009;
    padding: 1em;
    border-radius: .5em;
    border: 1px solid #0009;
}

.controls {
    position: absolute;
    inset: auto 0 0 0;
    display: flex;
    flex-direction: column;
    gap: .5em;
    flex-wrap: nowrap;
    width: 100%;
    padding: 1em 1em;
    background-image: linear-gradient(to bottom, #0000 0%, #0002 5%, #0005 20%, #000c 50%, #000 100%);
}
.c_row {
    display: flex;
    width: 100%;
    gap: 1em;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.panel {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}
.c_time {
    font-family: 'Open Sans', monospace;
    font-size: .8em;
    letter-spacing: .2em;
}

.control {
    font-size: inherit;
    width: 2.5em;
    height: 2.5em;
    min-width: 2.5em;
    min-height: 2.5em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: 1px solid transparent;
    background-color: transparent;
    transition: .2s;
}
.control:hover {
    background-color: #ffffff19;
    cursor: pointer;
}
.control:active {
    background-color: #ffffff0b;
    box-shadow: 0 0 0 1px #fff3;
}
.control:focus-visible {
    background-color: #ffffff19;
    outline: 1px solid dodgerblue;
}
.svgbutton {
    width: 60%;
    height: 60%;
}
.seeker {
    --seeked: 0%;
    background: linear-gradient(to right, #fff6 0%, #fff6 var(--seeked), transparent var(--seeked), transparent 100%);
    width: 100%;
    height: .3em;
    position: relative;
}
.volumearea {
    position: relative;
    width: 5em;
    height: .3em;
}
.range {
    --progress: 0%;
    display: block;
    width: 100%;
    position: absolute;
    inset: 50% 0 auto;
    height: 100%;
    translate: 0 -50%;
    border: none;
    background: #fff2 linear-gradient(to right, #a31300 0%, #a31300 var(--progress), transparent var(--progress), transparent 100%);
    outline: none;
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
    transition: .2s;
}
.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    cursor: pointer;
    background: #fff;
    border-radius: .5em;
}