@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.player {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #000;
    color-scheme: dark;
    color: #fff;
}
.media {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.video {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}

.cover {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.loadersvg {
    display: block;
    width: 4em;
    height: 4em;
    margin: auto;
    animation: svg_rotate 3s ease 0s infinite;
}
@keyframes svg_rotate {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}


.logger {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #0009;
    padding: 1em;
    border-radius: .5em;
    border: 1px solid #0009;
}

.controls {
    position: absolute;
    inset: auto 0 0 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    padding: 1em .5em;
    background-image: linear-gradient(to bottom, #0000 0%, #0002 5%, #0005 20%, #000c 50%, #000 100%);
}

.c_time {
    font-family: 'Open Sans', monospace;
    font-size: .8em;
    letter-spacing: .2em;
}